.contactVisual {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    object-fit: cover;
    img {
        flex: 1 1 auto;
        object-fit: cover;  
        max-width: 100%;
    }
}