.info {
    height: 180px;
    @media (max-width: 768px) {
      height: 100%;
    }
    &__item {
      height: 85% !important;
      section {
        @media (max-width: 768px) {
          height: 97px !important;
          width: 300px;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid #d9d9d9;
      }
      @media (max-width: 768px) {
        &:not(:last-child) {
          border-right: none;
        } 
      }
    }
  }