@import "styles/app";

.text {
  width: "93%";
}

.borderLine {
  background-color: theme-color("primary");
  height: 3px;
  width: 80px;
  position: absolute;
  bottom: -2px;
}

.aboutImg {
  flex: 1 1 auto;
  object-fit: cover;
}